

//--COLORS--//

$whisper-color: #EEEEEE;
$black-color: black;
$header-tab-bottom-blue : #122377;
$bright-grey : #58595b;
$manatee : #929497;
$gainsboro :#ddd;
$hawkesblue:#dcdee1;


$background-color-very-light-grey: #f5f6f8;
$dark-steel-blue: #122377;
$dark-gray: #a9a9a9;
$light-grey: #d3d3d3;
$light-gray: #ebedf0;

$alice-blue:#f8f9fa;
$smalt:#003da1;
$white:#ffffff;
$mid-night:#122377;
$light-black:#181512;

$pattens-blue: #dddfe1;
$storm-gray:#818284;
$link-water:#c6c7c9;
$gains-boro:#e2e2e2;
$pink-swan:#b5b5b5;
$cod-gray:#2c3237;
$ebony:#2d3137;
$snow : #F9F9F9;
$free-speech-red:#CC0000;
$blue-whale : #0d3349;

$white-smoke : #F5F5F5;
$christi :#73A500;
